<!DOCTYPE html>
<html>
<head>
    <title>Loan Prediction Result</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        <h3 class="mb-0 text-center">Loan Status</h3>
                    </div>
                    <div class="card-body text-center"> <!-- Text-center class to center the text -->
                        {% if loan_result_message %}
                        <h5 class="card-title {% if loan_result_message == 'Loan approved.' %}text-success{% else %}text-danger{% endif %}">
                            {{ loan_result_message }}
                        </h5>
                        {% endif %}
                        <a href="/" class="btn btn-primary">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JS and jQuery (optional but useful for some Bootstrap features) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
